body{
    background: url("../IMG/Exercises - pictures/GetFit/background.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
.togetfit{
    padding:10px;
    position: relative;
    left: 50%;
    background-color: 	#F0E68C;
    width:45%;
    height:55%;
    border-radius: 25px;
    border: 2px solid #20B2AA;
}
#div1{
    top:35%;
}
#div2{
    top:45%;
}
.togetfit1{
    width:60%;
    height:100%;
}
.pozaexercitiu{
    width: 100%;
    height: 60%;
    left:10%;
    right:10%;
    position: relative;
    text-align: center;
}
.descriere1{
    width: 100%;
    height:30%;
    position: relative;
}
.checkbox{
    transform: scale(2.4);
}
.video{
    position: relative;
}
.divvideo{
    padding:10px;
    position: relative;
    left: 8%;
    width:40%;
    height:47%;
    top:44%;
    border-radius: 25px;
    margin-bottom: 80px;
}
.tooltip{
    width:100%;
    height:100%;
}
.tooltip .tooltiptext {
    width: 120px;
    bottom: 100%;
    left: 50%;
    margin-left: -60px;
}
.video img{
    width: 100%;
    height:100%;
}
#mesaj{
    position:relative;
    top: 45%;
    width:100%;
    background-color: #F0E68C;
    border:2px solid #20B2AA;
    text-align: center;
}
.tooltip {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted #20B2AA;
}

.tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: #4169E1;
    border: 1px solid #4169E1;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
}
#video2{
    position: relative;
    padding:10px;
    left:50%;
    width:40%;
    height:47%;
    top:0;
    border-radius: 25px;
}
