@font-face {
    font-family: ForceTechFont;
    src: url("/FONTS/Capsule X Pro Medium UC.otf");
}

#welcome{
    font-family: ForceTechFont, serif;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
}
.pwelcome, #welcome>p, .sfat, .text, .link {
    position: relative;
    text-indent: 30px;
    text-align: justify;
    font-family: "Palatino Linotype", serif;
    width: 80%;
    margin-left:10%;
    margin-right:10%;
    font-size: 18px;
}



