@font-face {
    font-family: ForceTechFont;
    src: url("/FONTS/Capsule X Pro Medium UC.otf");
}

body{
    background-image: url("/IMG/bestbackground.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}


.p1, p, h1, #text{
    font-family: ForceTechFont;
    color: black;
}
p{
    text-align:center;
}
button , #submit{
    font-family: ForceTechFont;
    background-color: #4169E1;
    color: white;
    border: 2px solid white;
    border-radius: 10px;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
}
#introducere{
    top:15%;
    text-align: center;
    background-color:#FAFAD2;
    width:40%;
    position:relative;
    left:30%;
    right:30%;
    opacity:0.9;
    border-radius:10px;
}
button:hover, #submit:hover{
     background-color: white;
     color:#4169E1;
     border: 2px solid #4169E1;
 }
hr{
    color: #4169E1;

}
#logo{
    display:block;
    margin-left: auto;
    margin-right: auto;
    height:25%;
    width:13%;
    -webkit-animation: fadein 10s;
    -moz-animation: fadein 10s;
    -ms-animation: fadein 10s;
    -o-animation: fadein 10s;
    animation: fadein 10s;
}

@keyframes fadein {
    0%{
        opacity: 0;
        }
    25%{
        opacity:0.25;
    }
    50%{
        opacity:0.5;
    }
    75%{
        opacity:0.75;
    }
    100%{
        opacity:1;
    }
}

@-moz-keyframes fadein {
    0%{
        opacity: 0;
    }
    25%{
        opacity:0.25;
    }
    50%{
        opacity:0.5;
    }
    75%{
        opacity:0.75;
    }
    100%{
        opacity:1;
    }
}

@-webkit-keyframes fadein {
    0%{
        opacity: 0;
    }
    25%{
        opacity:0.25;
    }
    50%{
        opacity:0.5;
    }
    75%{
        opacity:0.75;
    }
    100%{
        opacity:1;
    }
}

@-ms-keyframes fadein {
    0%{
        opacity: 0;
    }
    25%{
        opacity:0.25;
    }
    50%{
        opacity:0.5;
    }
    75%{
        opacity:0.75;
    }
    100%{
        opacity:1;
    }
}

@-o-keyframes fadein {
    0%{
        opacity: 0;
    }
    25%{
        opacity:0.25;
    }
    50%{
        opacity:0.5;
    }
    75%{
        opacity:0.75;
    }
    100%{
        opacity:1;
    }
}


/*Cristi*/

#loginform{
    position: absolute;
    width:50%;
    height: 50%;
    left:25%;
    top:30%;
    background: black;
    opacity: 0.8;
    border: 3px solid white;
    border-radius: 20%;
    display: none;
}

label{
    display: block;
    font-size: 25px;
    color:white;
    position: absolute;
}

#namelabel{
    left:30%;
    top:30%;
}
#passlabel{
    left:30%;
    top:45%;
}

input{
    margin-bottom: 10px;
    border: 2px solid #4169E1;
    margin-left:20px;
}

#submitlogin{
    float:none;
    position: absolute;
    left:30%;
    width: 150px;
    background-color: #4169E1;
    border-radius: 10%;
    border: 2px solid white;
    position: absolute;
    left:40%;
    top:60%;
}

#submitlogin:hover{
    background-color: white;
    color:#4169E1;
    border: 2px solid #4169E1;
}

/*Cristi*/